.container-fluid{
    padding: 0;
}

.nav-link{
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.present{
    background-color: #eee;
}

.left{
    padding: 5px;
    border-right: 1px solid #ada5a5;
}

.right{
    padding: 10px;
    min-height: 500px;
}
textarea {position: absolute;
border: 2px solid blue;
    background-color: rgba(245, 245, 220, 0);
    text-align: center;
}
.canvas-container{
 
    margin: auto;
    border: 1px solid lightslategrey;
}


.btn{
    margin-right: 5px;
}

.btn:hover{
    border:1px solid red;
    margin-right: 5px;
}

.mce-notification-warning{
    display:none;
}

#mceu_26{
    display: none;
}

#slider{
    font-size: initial;
}

#tools{
    width: 100%;
    background-color: rgb(61, 65, 66);
    margin-bottom: 10px;
    padding: 10px;
}

#sliderPanel{
    width: 100%;
    
    background-color: rgb(61, 65, 66);
    top: 0%;
    z-index: 1;
    position: fixed;
    padding: 10px;

}

#sliderSlide{
    margin-top: 10px;
  padding: 50px;
}